<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>this is our home page</h1>
    <h1><%= name %></h1>
    <h1><%= age %></h1>
    <h1><%= email %></h1>
    <h1><%= company %></h1>
    <!-- <h1><%= marks %></h1> -->

    <!-- if else loop -->
    <!-- <% if(age==30){%> Given age is correct <%} else if(age==20){%> age is nearby
    <%}else{%> YOU entered the wrong age <%}%> -->

    <h1>
      <!-- for loop  -->
      <!-- <% for(i=0; i<=4; i++){%> <%= i %> <%= marks[i] %> <%}%> -->

      <!--for in loop  -->
      <!-- <% for(const key in marks ){%> <%= key %> <%= marks[key]%> <%}%> -->

      <!-- while loop -->
      <!-- <% var i =0; %> <% while(i<=4){%> <%= marks[i] %> <% i++ %> <%}%> -->

      <!-- for each loop -->
      <!-- <% marks.forEach((value)=>{%> <%=value%> <%})%> -->

      <!-- fuction call -->
      <!-- <% var current = new Date() %> <%= current %> -->
    </h1>
  </body>
</html>
